.alpha {
  width: 100%;
  background-color: white;
  padding-bottom: 50px;
}
.beta {
  margin-left: auto;
  margin-right: auto;
  padding-left: 4px;
  padding-right: 4px;
}
.para {
  color: #536e96;
  font-size: 6rem;
  text-align: center;
}
.sp {
  color: #20b486;
}
