.alpha {
  width: 100%;
  background-color: white;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.beta {
  margin: auto;
  display: flex;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding-left: 4px;
  padding-right: 4px;
}

.order {
  display: flex;
  width: 100%;
}

.charlie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.delta {
  line-height: 72px;
  font-size: 3xl;
  font-weight: bold;
  color: #20b486;
  font-size: xx-large;
  margin-left: 0px;
}

.echo {
  color: #20b486;
}

.foxtrot {
  font-size: large;
  color: gray;
}

.golf {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.hotel {
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
}

.india {
  padding: 4px;
  background-color: #e9f8f3;
  border-radius: 0.75rem;
}

.juliet {
  padding-left: 3px;
  padding-right: 3px;
}

.kilo {
  font-size: xx-large;
  font-weight: semibold;
  margin-left: 10px;
}

.lima {
  color: #6d737a;
}

.mike {
  padding: 4px;
  background-color: #ffeef0;
  border-radius: 0.75rem;
}

.november {
  padding: 4px;
  background-color: #f0f7ff;
  border-radius: 0.75rem;
}

.extra{
  padding: 4px;
  background-color: grey;
  border-radius: 0.75rem; 
}
